[Desktop Entry]
Name=Aterm
Comment=Small, fast X terminal application
Comment[pl]=Mały, ale szybki emulator terminala dla Systemu X Window
Comment[pt_BR]=Um emulador de vt102 colorido
Exec=aterm
Icon=gnome-term
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
